


= react_component 'PatientProfile/ListOfPatientProfiles',
        patientProfiles: @patient_profiles,
        users: @users,
        enum_blood_types: @enum_blood_types
        user: current_user

