<h1><%= t 'activerecord.attributes.schedules.edit_schedule' %></h1>

<%= render 'form', schedule: @schedule %>

<%= link_to (t 'records.edit'), @schedule %>
<%= link_to (t 'records.back'), schedule_path %>
