body {

}

.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.wrapper-container {
    max-width: 1180px;
    margin: 0 auto;
}

.content-1 {
    flex: 1 1 auto;
}

.header {
    background-color: #6c8889;
    padding: 30px 0;
}

.schedule {
    background-color: #ffffff;
    padding: 10px 10px;
}

.header__row {
    display: flex;
    justify-content: space-around;
    color: white;
}

.header_doctor-info {
    color: white;
}

.header__list li {
    text-shadow: 1px 1px 0 rgba(0 0 0 0.3);
    text-decoration: none;
    list-style: none;
}

.header__list li span {
    padding: 0 0 0 10px;
}

.header__title {
    text-align: center;
    text-shadow: 1px 1px 0 rgba(0 0 0 0.3);
    font-size: 30px;
    margin: 0 0 20px 0;
}

.footer {
    background-color: #485252;
}

.footer__row {
    display: flex;
    height: 65px;
    justify-content: center;
    align-items: center;
}

.footer__text {
    color: white;
}
