= react_component 'DoctorProfile/ListOfDoctorProfiles',
        doctorProfiles: @doctor_profiles,
        avatars: @avatars,
        users: @users,
        specializations: @specializations
        user: current_user


