
 .bnav_left{
  float: left;
  color: #f2f2f2;
  text-decoration: underline;
  font-size: 15px;
  margin-left: 10px;
}

 .bnav_right{
	float: right;
  color: #f2f2f2;
  text-decoration: underline;
  font-size: 15px;
  margin-right: 10px;
}

