.devise {
  margin-top: 25px;
  h2 {
    text-align: center;
  }
  form {
    border: 3px solid #f1f1f1;
    max-width: 400px;
    margin: auto;
    box-shadow: 1px 3px 1px 0px grey;

    input[type=text], input[type=email], input[type=password] {
      width: 100%;
      padding: 12px 20px;
      margin: 8px 0;
      display: inline-block;
      border: 1px solid #ccc;
      box-sizing: border-box;
    }

    .button {
      background-color: #4CAF50;
      color: white;
      padding: 14px 20px;
      margin: 8px;
      border: none;
      cursor: pointer;
      width: 95%;
    }
  }

  .button:hover {
    opacity: 0.8;
  }
  //.cancelbtn {
  //  color: white;
  //  padding: 14px 20px;
  //  margin: 8px;
  //  border: none;
  //  cursor: pointer;
  //  width: 95%;
  //  background-color: #f44336;
  //}
  //.cancelbtn:hover {
  //  opacity: 0.8;
  //}
  .container {
    padding: 16px;
  }
  .forgot-password, .confirmation-information {
    a:link, a:visited {
      color: grey;
      text-decoration: none;
      font-size: 0.9em;
    }
  }
  @media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }
  .cancelbtn {
    width: 30%;
  }
}
}